@import "tailwindcss/theme";
@import "tailwindcss/utilities";

@source "../db-content.txt";
@source "../../**/*.php";
@source "../../assets/js/**/*.js";

@theme {
  --font-serif: "Cinzel", serif;
  --font-sans: "Manrope", sans-serif;

  --color-void: #050505;
  --color-metal: #151515;
  --color-surface: #1E1E1E;
  --color-gold: #C5A059;
  --color-gold-dim: #8A703E;
  --color-goldDim: #8A703E;
  --color-dust: #666666;

  --tracking-cinematic: 0.3em;

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
}
